.card {
  --card-background: linear-gradient(
    45deg,
    var(--color-red),
    var(--color-orange)
  );
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 20px;
}

.card,
.card::before,
.card::after {
  box-sizing: border-box;
  width: 500px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
}

.card::before,
.card::after {
  background: var(--card-background);
  background-size: cover;
  background-position: 50% 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.card.shade::after {
  filter: brightness(0.65);
}
.card.shade::before {
  filter: brightness(0.65), blur(20px);
}
.card::before {
  opacity: 0.85;
  z-index: -2;
  filter: blur(20px);
}
.card::after {
  z-index: -1;
}

.card * {
  z-index: 1;
  color: var(--color-white);
  margin: 0;
  font-family: var(--font-body);
}

.card progress {
  --progress-height: 0.5rem;
  margin-right: 10px;
}

.progressText {
  margin-right: 10px;
}

.cardTitle {
  flex: 1;
  font-size: 2rem;
}

.card .flex-horz {
  justify-content: flex-end;
}
